<!-- Page Header-->
<header class="masthead" style="background-image: url('https://i.postimg.cc/9fLv4SWd/supply-page-message-list-brown.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">Réalisé avec Ruby on Rails et Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<%= "Nombre d'abonnés à la newsletter : #{@subscriber_count}" if current_user.try(:admin?) %>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <%= render "partials/flash" %>
      <div class="border-bottom mb-4">
        <h1>Articles</h1>
        <p class="text-muted fs-6 mb-3 mt-1">Tu trouveras ici tous les articles que j'ai publiés, bonne lecture !</p>
      </div>
      <%= render "search_form" %>
      <!-- Post preview-->
      <% @articles.each do |article| %>
        <% next unless article.publicly_published? || current_user == article.user %>
        <div class="post-preview">
          <a href="<%= article_path(article) %>">
            <% article.categories.each do |category| %>
              <span class="badge bg-primary text-white rounded-pill px-3 py-2 mb-1"><%= category.name %></span>
            <% end %>
            <h2 class="post-title"><%= article.title %></h2>
            <h3 class="post-subtitle"><%=  article.subtitle %></h3>
            <small>Le <%= I18n.l(article.created_at, format: "%d %B %Y") %></small> – <%= article.body.to_plain_text.reading_time :format => :approx %>
          </a>
        </div>
        <hr class="my-4" />
      <% end %>
      <div class="d-flex justify-content-end mb-4">
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>
<%= render "subscribers/form", subscriber: @subscriber %>
<%= render "partials/scroll_to_top" %>
