<header class="masthead" style="background-image: url('https://i.postimg.cc/fRmHnPtz/letterbgc4a01ad19-1920.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <% @article.categories.each do |category| %>
            <span class="badge bg-primary text-white rounded-pill px-3 py-2 mb-1"><%= category.name %></span>
          <% end %>
          <h1><%= @article.title %></h1>
          <h2 class="subheading"><%= @article.subtitle %></h2>
          <div class="d-flex align-items-center">
            <div class="pe-3">
              <%= link_to about_path do %>
                <%= gravatar_for ENV['MAILER_FROM'], size: 70 %>
              <% end %>
            </div>
            <div>
              <%= link_to about_path do %>
                <p class="mb-0 fw-bold text-white">Florent Sandri</p>
              <% end %>
              <p class="readingtime"><small>Le <%= I18n.l(@article.created_at, format: "%d %B %Y") %></small> – <%= @article.body.to_plain_text.reading_time :format => :approx %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="progress  progress_bar">
  <%= content_tag(:div, "", class: "progress-bar", data: {controller: "progress" }) %>
</div>
<!-- Post Content-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="d-flex">
          <%= render "admin_article_buttons" %>
        </div>
        <%= @article.body %>
        <br />
        <%= @article.image if @article.image.attached? %>
        <div class="d-flex justify-content-between mt-4">
          <%= link_to "Retour à l'accueil", articles_path, class: "btn btn-primary rounded me-5" %>
          <%= render "admin_article_buttons" %>
        </div>
      </div>
    </div>
  </div>
</article>
<%= render "partials/scroll_to_top" %>
