<% if controller_name == "sessions" || controller_name == "registrations" || action_name == "edit" || action_name == "new" && controller_name == "articles" %>
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-bs-theme="dark">
  <div class="container px-4 px-lg-5">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item"><a><%= link_to current_user.username, root_path, class: "nav-link px-lg-3 py-3 py-lg-4 disabled", style: "color: red;" if user_signed_in? %></a></li>
        <li class="nav-item"><a><%= link_to "Accueil", articles_path, class: "nav-link px-lg-3 py-3 py-lg-4", style: "color: black;" %></a></li>
        <li class="nav-item"><a><%= link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: "delete" }, method: :delete, class: "nav-link px-lg-3 py-3 py-lg-4", style: "color: black;" if user_signed_in? %></a></li>
      <ul>
    </div>
  </div>
<% else %>
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-bs-theme="dark">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="<%= about_path %>">Florent Sandri</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto py-4 py-lg-3">
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-2" href="<%= root_path %>">Accueil</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-2" href="<%= about_path %>">A propos</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-2" href="<%= article_path(Article.where(publicly_published: true).last) if Article.where(publicly_published: true).last %>">Dernier article</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-2" href="<%= contact_path %>">Contact</a></li>
          <!-- Button trigger Donation modal && color background black -->
          <li class="nav-item">
            <a class="btn btn-primary nav-link px-lg-3 py-3 py-lg-2 rounded" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Faire un don</a>
          </li>
          <% if user_signed_in? && current_user.admin? %>
            <li class="nav-item"><a><%= link_to current_user.username, root_path, class: "nav-link px-lg-3 py-3 py-lg-4 disabled", style: "color: red;" %></a></li>
            <li class="nav-item"><a><%= link_to "Nouvel article", new_article_path, class: "nav-link px-lg-3 py-3 py-lg-4" %></a></li>
            <li class="nav-item"><a><%= link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: "delete" }, method: :delete, class: "nav-link px-lg-3 py-3 py-lg-4" %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
<%end%>

<script>
/*!
* Start Bootstrap - Clean Blog v6.0.8 (https://startbootstrap.com/theme/clean-blog)
* Copyright 2013-2022 Start Bootstrap
* Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-clean-blog/blob/master/LICENSE)
*/
window.addEventListener('DOMContentLoaded', () => {
  let scrollPos = 0;
  const mainNav = document.getElementById('mainNav');
  const headerHeight = mainNav.clientHeight;
  window.addEventListener('scroll', function() {
    const currentTop = document.body.getBoundingClientRect().top * -1;
    if ( currentTop < scrollPos) {
      // Scrolling Up
      if (currentTop > 0 && mainNav.classList.contains('is-fixed')) {
        mainNav.classList.add('is-visible');
      } else {
        console.log(123);
        mainNav.classList.remove('is-visible', 'is-fixed');
      }
    } else {
      // Scrolling Down
      mainNav.classList.remove(['is-visible']);
      if (currentTop > headerHeight && !mainNav.classList.contains('is-fixed')) {
        mainNav.classList.add('is-fixed');
      }
    }
    scrollPos = currentTop;
  });
})
</script>
