<div class="d-flex justify-content-center align-items-center">
  <div class="col-md-6">
    <div class="card p-4 shadow-lg">
      <div class="position-relative d-flex mx-auto mb-6 align-items-center justify-content-center fs-5 text-white fw-bold bg-primary rounded-pill" style="width: 70px; height: 70px;">
        <svg width="32" height="26" viewbox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.00098 6.3335L14.152 15.1008C15.2716 15.8473 16.7303 15.8473 17.85 15.1008L31.001 6.3335M4.33431 24.6668H27.6676C29.5086 24.6668 31.001 23.1744 31.001 21.3335V4.66683C31.001 2.82588 29.5086 1.3335 27.6676 1.3335H4.33431C2.49336 1.3335 1.00098 2.82588 1.00098 4.66683V21.3335C1.00098 23.1744 2.49336 24.6668 4.33431 24.6668Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
      <h3 class="text-center d-block mt-3">Rejoignez notre newsletter</h3>
      <p class="mw-md mx-auto mb-10 text-secondary text-center d-block mt-3">Vous recevrez directement dans votre boîte mail un résumé du dernier article publié ainsi qu'un lien pour le lire en intégralité.</p>
      <%= form_with(model: @subscriber, local: true, html: { class: 'text-center' }) do |form| %>
        <% if @subscriber.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@subscriber.errors.count, "error") %> formulaire invalide :</h2>
            <ul>
              <% @subscriber.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= form.label :email, class: 'sr-only' %>
          <%= form.email_field :email, class: 'form-control text-center mb-5', placeholder: 'Adresse e-mail', required: true %>
        </div>
        <div class="form-group">
          <%= form.submit 'Souscrire maintenant', class: 'btn mb-8 w-100 btn-primary rounded' %>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.00033 9.00024V10.3336M3.00033 13.0002H11.0003C11.7367 13.0002 12.3337 12.4033 12.3337 11.6669V7.66691C12.3337 6.93053 11.7367 6.33358 11.0003 6.33358H3.00033C2.26395 6.33358 1.66699 6.93053 1.66699 7.66691V11.6669C1.66699 12.4033 2.26395 13.0002 3.00033 13.0002ZM9.66699 6.33358V3.66691C9.66699 2.19415 8.47308 1.00024 7.00033 1.00024C5.52757 1.00024 4.33366 2.19415 4.33366 3.66691V6.33358H9.66699Z" stroke="#A1A1AA" stroke-width="1.5" stroke-linecap="round"></path>
          </svg>
          <span class="ms-2 fs-9 text-secondary">Nous ne partageons jamais vos informations avec des tiers</span>
        </div>
      <% end %>
    </div>
  </div>
</div>

