<!DOCTYPE html>
<html>
  <head>
    <title>CleanBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render "partials/navbar" %>
    </header>
    <main>
    <%= yield %>
    <%= render "partials/flash" %>
    <%#= debug(params) if Rails.env.development? %>
    <%#= console if Rails.env.development? %>
    <%= render "partials/footer" %>
    </main>
  </body>
</html>
