<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1", shrink-to-fit=no>
    <meta name="author" content="Sandri Florent">
    <meta name="description" content="Le blog de Sandri Florent sur la programmation - Ruby, Ruby on Rails, Bootstrap, etc.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cleanblog">
    <meta name="twitter:creator" content="@cleanblog">
    <meta name="twitter:title" content="Rubyiste">
    <meta name="twitter:description" content="Le blog de Sandri Florent sur la programmation - Ruby, Ruby on Rails, Bootstrap, etc.">
    <meta name="twitter:image" content="https://i.postimg.cc/05cL4jZz/Clean-Blog.png">
    <meta property="og:url" content="https://cleanblog.herokuapp.com/">
    <meta property="og:image" content="https://i.postimg.cc/05cL4jZz/Clean-Blog.png">
    <title>Clean Blog</title>
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/zvkqpCp6/kisspng-computer-icons-portable-network-graphics-favicon-a-5c5070b55429a4-2694430115487756053447.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
  </head>

  <body>
    <header>
      <%= render "partials/navbar" %>
    </header>
    <main>
      <%= yield %>
      <%#= debug(params) if Rails.env.development? %>
      <%#= console if Rails.env.development? %>
      <%= render "partials/footer" %>
    </main>
  </body>
</html>
